<strong>Field</strong>
<ul>
  {% set mesh = field.mesh %}
  <li>{% include 'mesh.jinja2' %}</li>
  <li>dim = {{ field.dim }}</li>
  {% if field.components is iterable -%}
    <li>components:
      <ul>
        {%- for component in field.components -%}
          <li>{{ component }}</li>
        {% endfor -%}
      </ul>
    </li>
  {% endif -%}
  {% if field.units is not none -%}
    <li>units = {{ field.units }}</li>
  {% endif -%}
</ul>
