<strong>Mesh</strong>
<ul>
  {%- set region = mesh.region %}
  <li>{% include 'region.jinja2' %}</li>
  <li>n = {{ mesh.n|list }}</li>
  {%- if mesh.bc %}
    <li>bc = {{ mesh.bc }}</li>
  {%- endif %}
  {% if mesh.subregions -%}
    <li>subregions:
    <ul>
      {% for key, subregion in mesh.subregions.items() -%}
        {% set region = subregion -%}
        {% set region_name = key -%}
        <li>{% include 'region.jinja2' %}</li>
      {% endfor -%}
    </ul></li>
  {% endif -%}
</ul>
